.movie__card {
  border: 1px 1px black;
  margin: 1rem auto;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  width: 100vh;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 3px teal;
  background-color: rgba(245, 245, 245, 0.438);
  font-size: larger;
}
.head {
  padding: 0.5rem;
}
.details {
  padding: 0.5rem;
}
.plot-style {
  color: rgb(255, 0, 0);
  word-break: break-word;
  text-decoration: white underline;
}

@media screen and (max-width: 768px) {
  .movie__card {
    padding: 0.7rem;
    width: 90vw;
    height: fit-content;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head img {
    border-radius: 5px;
  }
}

@media screen and (max-width: 550px) {
  .movie__card {
    padding: 0.4rem;
    width: 80vw;
    height: fit-content;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head img {
    max-height: fit-content;
    max-width: 100%;
    border-radius: 5px;
  }
}
